<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center margin-top" style="margin-top: 110px;">

        <mat-card class="paper">
            <mat-card-header>
              <mat-card-title style="font-size: 30px;">Vas Zdravstveni Karton</mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
                
                
                    <p style="font-size: 18px;">Detalji Zdravstvenih Kartona:</p>
                  <mat-accordion *ngFor="let karton of kartoni">
                    
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{karton.dijagnoza}}
                        </mat-panel-title>
                            <mat-panel-description>
                            
                            </mat-panel-description>
                      </mat-expansion-panel-header>
    
                                <!-- <li>Pregled: {{karton.pregled.datum}}</li> -->
                                <li>Terapija: {{karton.terapija}}</li>
    
                    </mat-expansion-panel>
                  </mat-accordion>
                
            </mat-card-content>
          </mat-card>
      
      </div>
    