<div >      
  <h1>Administrator Klinickog Centra</h1>
  <a href="" >Odjava</a>
  <h3 style="color:brown;">Spisak Zahteva Za Registraciju Pacijenata</h3>
  <table border="1" bgColor="#add8ed" style="margin-top:10px; margin-left:10px;">
          <thead>
                  <th>Korisnik</th>
                  <th>E-mail</th>
                  <th>Prezime</th>
                  <th>Adresa</th>
                  <th>Grad</th>
                  <th>Drzava</th>
                  <th>Telefon</th>
                  <th>Registrovani Pacijent</th>
                  <th>Kreiraj Zdravstveni Karton</th>
                </thead>
                <tbody>
                  <tr *ngFor="let modell of model">
                    <td>{{modell.username}}</td>
                    <td>{{modell.email}}</td>
                    <td>{{modell.lastname}}</td>
                    <td>{{modell.adress}}</td>
                    <td>{{modell.city}}</td>
                    <td>{{modell.country}}</td>
                    <td>{{modell.phone}}</td>
                    <td>
                      <select >
                          <option selected>Korisnik</option>
                          <option>Pacijent</option>
                      </select>
                    </td>
                    <td><a href="zdravstveniKarton" >Kreiraj</a></td>
                  </tr>
                </tbody>
  </table>
</div>

