
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center margin-top" style="margin-top: 110px;">

    <mat-card class="paper">
      <mat-card-header>
        <mat-card-title style="font-size: 30px;">Lista klinika</mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
          <p style="font-size: 18px;">Prikaz svih klinik na platformi:</p>
          <div style=" border-radius:16px;box-shadow: 0px 1px 3px #888888;">
          <mat-list style="padding-left: 50px;border: 1px solid #ccc!important;border-radius:16px" role="list" *ngFor="let clinic of clinics">
              <a style="text-decoration: none;" mat-list-item href="pacijentHomePage/clinic/{{clinic.id}}"> <p style="font-size: 17px;">{{ clinic.naziv }} </p></a>
          </mat-list>
        </div>
      </mat-card-content>
    </mat-card>
  
  </div>
