<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center margin-top" style="margin-top: 110px;">

    <mat-card class="paper">
<table border="1" bgColor="#add8ed">
    <thead>
            <th>Ime Pacijenta</th>
            <th>Prezime Pacijenta</th>
            <th>E-mail Pacijenta</th>
            <th>Zdravstveni Karton</th>
          </thead>
          <tbody>
            <tr *ngFor="let pacijent of pacijenti">
              <td>{{pacijent.user.username}}</td>
              <td>{{pacijent.user.lastname}}</td>
              <td>{{pacijent.user.email}}</td>
              <td *ngIf="pacijent.zdravstveniKarton">{{pacijent.zdravstveniKarton.dijagnoza}}</td>
            </tr>
          </tbody>
</table>
</mat-card>
</div>
