<!-- <div *ngIf="pacijent">
     {{pacijent.user.email}}
</div> -->

<!-- <div *ngIf="pacijent">
    
    <form>

        <label>Ime:</label>
        <input [(ngModel)]="pacijent.user.username" [ngModelOptions]="{standalone: true}" >

        <label>Prezime:</label>
        <input [(ngModel)]="pacijent.user.lastname" [ngModelOptions]="{standalone: true}" >

        <label>E-mail:</label>
        <input [(ngModel)]="pacijent.user.email" [ngModelOptions]="{standalone: true}" >

    </form>

</div> -->

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" *ngIf="pacijent">
    <mat-card class="paper scrollable-content">
        <mat-card-header class="navb">
            <div><p style="font-size:18px">{{pacijent.user.firstname}} {{pacijent.user.lastname}}</div>
            <span class="nav-tool-items">
                <a mat-button (click)="openDialog(pacijent.user.id, pacijent.user.firstname, pacijent.user.lastname, pacijent.user.username
                , pacijent.user.adress, pacijent.user.city, pacijent.user.country, pacijent.user.phoneNumber)"><i class="material-icons">
                    edit
                    </i></a>
            </span>
  
        </mat-card-header>
        <mat-card-content>
            <p style="font-size: 18px;">Email:   {{pacijent.user.username}}</p>
            <p style="font-size: 18px;">Adresa:   {{pacijent.user.adress}}</p>
            <p style="font-size: 18px;">Grad:   {{pacijent.user.city}}</p>
            <p style="font-size: 18px;">Drzava:   {{pacijent.user.country}}</p>
            <p style="font-size: 18px;">Broj:   {{pacijent.user.phoneNumber}}</p>
        </mat-card-content>
  <!--
      <form class="form" (submit)="onSubmit()">
  
        <mat-card-content>
          <mat-form-field class="full-width">
            <input matInput placeholder="Ime" [(ngModel)]="pacijent.user.username" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Prezime" [(ngModel)]="pacijent.user.lastname" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Email" [(ngModel)]="pacijent.user.email" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Lozinka" [(ngModel)]="pacijent.user.password" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput placeholder="Adresa" [(ngModel)]="pacijent.user.adress" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput placeholder="Grad" [(ngModel)]="pacijent.user.city" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Drzava" [(ngModel)]="pacijent.user.country" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Broj" [(ngModel)]="pacijent.user.phoneNumber" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>
  
        </mat-card-content>
  -->
        
    </mat-card>
  </div>