
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center margin-top" style="margin-top: 110px;">

        <mat-card class="paper">
            <mat-card-header>
              <mat-card-title style="font-size: 30px;">PREGLED</mat-card-title>
            </mat-card-header>
            <hr>
            <mat-card-content>
                
                
                    <p style="font-size: 18px;">Istorija svih pregleda:</p>
                  <mat-accordion *ngFor="let pregled of pregledi">
                    
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{pregled.datum}}
                        </mat-panel-title>
                            <mat-panel-description>
                            
                            </mat-panel-description>
                      </mat-expansion-panel-header>
                                <li>Trajanje: {{pregled.trajanje}}</li>
                                <li>Cena: {{pregled.cena}}</li>
                                <li>Sala: {{pregled.sala.name}}</li>
                    </mat-expansion-panel>
                  </mat-accordion>
                
            </mat-card-content>
          </mat-card>
      
      </div>