<h3 style="color:brown;">Spisak Zahteva Za Registraciju Pacijenata</h3>
  <table border="1" bgColor="#add8ed" style="margin-top:10px; margin-left:10px;">
          <thead>
                  <th>Korisnik</th>
                  <th>E-mail</th>
                  <th>Prezime</th>
                  <th>Adresa</th>
                  <th>Grad</th>
                  <th>Drzava</th>
                  <th>Telefon</th>
                  <th>Prihvati / Odbij</th>
                </thead>
                <tbody>
                  <tr *ngFor="let modell of model">
                    <td>{{modell.username}}</td>
                    <td>{{modell.email}}</td>
                    <td>{{modell.lastname}}</td>
                    <td>{{modell.adress}}</td>
                    <td>{{modell.city}}</td>
                    <td>{{modell.country}}</td>
                    <td>{{modell.phoneNumber}}</td>
                    <td>
                      <button (click)="onPrihvati(modell)">Prihvati</button>
                      <button (click)="onOdbij(modell)">Odbij</button>
                    </td>
                  </tr>
                </tbody>
  </table>
