  
<ul>
    <li><a  routerLink="listaRegistrovanihZahteva" routerLinkActive="active">Zahtevi</a></li>
    <li><a  routerLink="listaPacijenata" routerLinkActive="active">Lista Pacijenata</a></li>
    <li><a  routerLink="" routerLinkActive="active">Uredjuj Klinike</a></li>
    <li><a  routerLink="" routerLinkActive="active">Uredjuj Administratore Klinike</a></li>
    <li style="float:right"><a  routerLink="" routerLinkActive="active">Odjavi me</a></li>
  </ul>

<div style="padding:20px;margin-top:30px;">
    <router-outlet></router-outlet>
</div>



