<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center margin-top" style="margin-top: 110px;">
    <mat-card class="paper">
        <mat-card-header>
            <mat-card-title style="font-size: 24px;">Zahtevi</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <hr>
            <!--HEADER-->
            <mat-grid-list cols="9" rowHeight="3:1">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <p>Lekar</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <p>Datum</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <p>Vreme</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <p>Pacijent</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                </mat-grid-tile>
            </mat-grid-list>
            <!--CONTENT-->
            <mat-grid-list cols="9" rowHeight="3:1" *ngFor="let zahtev of listSource">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <p>{{ zahtev.lekar.user.firstname}} {{ zahtev.lekar.user.lastname}}</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <p>{{zahtev.datum}}</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <p>{{zahtev.vreme}}</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                    </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>