<mat-toolbar color="primary" class="app-header">
    <div><a href="adminKHomePage/8" class="navlogo">Klinicki Centar</a></div>zakazivanjePregleda
    <span class="nav-tool-items">
      <a mat-button routerLink="osnovniPodaciKlinike" routerLinkActive="active">Osvnovni podaci klinike</a>
      <a mat-button routerLink="slobodniTerminiPregleda" routerLinkActive="active">Slobodni termini pregleda</a>
      <a mat-button routerLink="sale" routerLinkActive="active">Sale</a>
      <a mat-button routerLink="lekari" routerLinkActive="active">Lekari</a>
      <a mat-button routerLink="cenovnik" routerLinkActive="active">Cenovnik</a>
      <a mat-button routerLink="tipoviPregleda" routerLinkActive="active">Tipovi pregleda</a>|
      <a mat-button routerLink="zakazivanjePregleda" routerLinkActive="active">Zahtevi zakazivanja pregleda</a>
      <a mat-button routerLink="profil" routerLinkActive="active">Profil</a>
      <a mat-button routerLink="izvestajPoslovanja" routerLinkActive="active">Izvestaj o poslovanju</a>
      <a mat-button mat-raised-button routerLink="/" routerLinkActive="active">Odjavi Me</a>
    </span>
</mat-toolbar>

<div style="padding:20px;margin-top:30px;">
    <router-outlet></router-outlet>
</div>


